body{
    background-color: black;

    
}
#name{
    text-align: center;
    color:cornsilk
    
}
#title{
    padding-top: 30px;
}
#img{
    padding-left: 560px;
    float: right;
    
}
#team{
    text-align: center;
}
#audio{
    text-align: center;
}